.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 920px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}